<div class="container">
    <div class="row mt-2">
        <p class="text-success">{{date | timeZone:'IST'}}</p>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3 mt-5">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" (change)="onFileChange($event)" multiple="false" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>
        <div class="col">
            <div *ngIf="isShowUpload" class="input-group mb-3 mt-5">
                <button (click)="downloadPDF()" class="btn btn-success">Export to pdf!</button>
            </div>
        </div>
    </div>
    <table class="table table-responsive table-striped table-hover" id="tbldata" #tbldata>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let val of row">
                    {{val}}
                </td>
            </tr>
        </tbody>
    </table>
</div>